# Project 5: Optimizing Evacuation Routes using Real-Time Traffic Information

Kelly Slatery | US-DSI-10 | 02.21.2020

In [1]:
# Imports
import pandas as pd

## Combine Data: Test

In [2]:
# Import datasets to concatenate
pd_test = pd.read_csv('./data/test_data/PD_HH_tweets.csv')
pd_test.head()

,Unnamed: 0,0,1,2,3
0,9427,2017-08-31 21:34:27+00:00,DallasPD,Reminder: Texas State Law prohibiting texting ...,NaN
1,9428,2017-08-31 21:03:18+00:00,DallasPD,Brotherhood for the Fallen Charity Event,NaN
2,9429,2017-08-31 17:16:43+00:00,DallasPD,FREE #TRINITY EVENT - Artisan Fair Market - Se...,#TRINITY #LaborDayWeekend
3,9430,2017-08-31 17:13:36+00:00,DallasPD,Our thoughts and prayers are with the Sacramen...,NaN
4,9431,2017-08-31 17:10:47+00:00,DallasPD,How can Dallas residents help animals affected...,#HurricaneHarvey

In [3]:
pd_test.drop(columns='Unnamed: 0', inplace=True)

In [4]:
dot_test = pd.read_csv('./data/test_data/TxDOT_HH_tweets.csv')
dot_test.head()

,0,1,2,3
0,2017-09-01 19:02:56+00:00,TxDOT,Please check http://www.drivetexas.org for the...,NaN
1,2017-09-01 17:15:30+00:00,TxDOT,Please visit http://drivetexas.org for the lat...,NaN
2,2017-09-01 17:12:12+00:00,TxDOT,"Texting and driving kills. And starting today,...",#TalkTextCrash
3,2017-09-01 15:01:00+00:00,TxDOT,Tolls on Grand Parkway from IH 10 to IH 69 con...,NaN
4,2017-09-01 13:30:24+00:00,TxDOT,"As #Harvey continues to impact Texas roadways,...",#Harvey

In [5]:
# Concatenate dataframes
test_data = pd.concat([pd_test, dot_test], axis=0, ignore_index=True, sort=True)
test_data.head()

,0,1,2,3
0,2017-08-31 21:34:27+00:00,DallasPD,Reminder: Texas State Law prohibiting texting ...,NaN
1,2017-08-31 21:03:18+00:00,DallasPD,Brotherhood for the Fallen Charity Event,NaN
2,2017-08-31 17:16:43+00:00,DallasPD,FREE #TRINITY EVENT - Artisan Fair Market - Se...,#TRINITY #LaborDayWeekend
3,2017-08-31 17:13:36+00:00,DallasPD,Our thoughts and prayers are with the Sacramen...,NaN
4,2017-08-31 17:10:47+00:00,DallasPD,How can Dallas residents help animals affected...,#HurricaneHarvey

## Export Data: Test

In [6]:
test_data.to_csv('./data/test_data/combined_test_data.csv')

## Combine Data: Train

In [7]:
# Import datasets to concatenate
pd_train = pd.read_csv('./data/train_data/PD_full_tweets.csv')
pd_train.head()

,Unnamed: 0,0,1,2,3
0,0,2016-10-30 20:51:45+00:00,DentonPolice,Investigating mismatch of name / photo. Until ...,NaN
1,1,2016-10-30 16:59:03+00:00,DentonPolice,"10/30/2016 08:44:23 Regina, 39 yrs old Bond: $...",NaN
2,2,2016-10-30 13:52:19+00:00,DentonPolice,"10/29/2016 17:03:18 Steven, 26 yrs old Bond: $...",NaN
3,3,2016-10-26 21:45:57+00:00,DentonPolice,"10/25/2016 22:59:57 Monique, 39 yrs old Bond: ...",NaN
4,4,2016-10-26 21:09:45+00:00,DentonPolice,"10/25/2016 21:37:00 Katelyn, 24 yrs old Bond: ...",NaN

In [8]:
pd_train.drop(columns='Unnamed: 0', inplace=True)

In [9]:
dot_train = pd.read_csv('./data/train_data/DOT_full_tweets.csv')
dot_train.head()

/Users/kelly/anaconda3/envs/dsi/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,0,1,2,3,one,three,two,zero
0,NaN,NaN,NaN,NaN,TxDOT,#PlanWhileYouCan #EndTheStreakTX,"When you drink and drive in Texas, our officer...",2020-02-07 22:20:09+00:00
1,NaN,NaN,NaN,NaN,TxDOT,#TxDOTCareers,Want to help traffic instead of sitting in it?...,2020-02-07 18:05:12+00:00
2,NaN,NaN,NaN,NaN,TxDOT,#TxDOTCareers,Are you skilled in automotive work? We'd love ...,2020-02-07 01:10:04+00:00
3,NaN,NaN,NaN,NaN,TxDOT,#EndTheStreakTX #ClickItOrTicket,"From a shout to a whisper, we can’t emphasize ...",2020-02-07 00:15:25+00:00
4,NaN,NaN,NaN,NaN,TxDOT,#txwx,We love seeing all the nice things y’all have ...,2020-02-06 22:14:22+00:00

In [10]:
# Look at NaNs in dot_train
dot_train.isnull().sum()

0        45079
1        45079
2        45159
3        68619
one      35758
three    68125
two      35987
zero     35758
dtype: int64

In [11]:
# Look at initial shape
dot_train.shape

(80837, 8)

In [12]:
# Create dataframe for first non-NaN rows
dot1 = dot_train.drop(columns=['one', 'two', 'three', 'zero'])
dot1.dropna(axis=0, how='all', inplace=True)
dot1.head()

,0,1,2,3
45079,2020-02-07 22:17:07+00:00,houstontranstar,http://traffic.houstontranstar.org/layers/,NaN
45080,2020-02-07 17:48:31+00:00,houstontranstar,REMINDER: All mainlanes of I-610 West Loop (NB...,NaN
45081,2020-02-07 15:53:52+00:00,houstontranstar,http://traffic.houstontranstar.org/layers/,NaN
45082,2020-02-07 15:38:03+00:00,houstontranstar,http://traffic.houstontranstar.org/layers/,NaN
45083,2020-02-06 16:04:45+00:00,houstontranstar,More information related to this closure can b...,#HoustonTranStar

In [13]:
# Look for nulls
dot1.isnull().sum()

0        0
1        0
2       80
3    23540
dtype: int64

In [14]:
# Drop all rows where column 2 is NaN
dot1 = dot1.loc[dot1['2'].notnull()]

In [15]:
dot1.shape

(35678, 4)

In [16]:
# Create dataframe for second non-NaN rows
dot2 = dot_train.drop(columns=['1', '2', '3', '0'])
dot2.dropna(axis=0, how='all', inplace=True)
dot2.head()

,one,three,two,zero
0,TxDOT,#PlanWhileYouCan #EndTheStreakTX,"When you drink and drive in Texas, our officer...",2020-02-07 22:20:09+00:00
1,TxDOT,#TxDOTCareers,Want to help traffic instead of sitting in it?...,2020-02-07 18:05:12+00:00
2,TxDOT,#TxDOTCareers,Are you skilled in automotive work? We'd love ...,2020-02-07 01:10:04+00:00
3,TxDOT,#EndTheStreakTX #ClickItOrTicket,"From a shout to a whisper, we can’t emphasize ...",2020-02-07 00:15:25+00:00
4,TxDOT,#txwx,We love seeing all the nice things y’all have ...,2020-02-06 22:14:22+00:00

In [17]:
# Look for nulls
dot2.isnull().sum()

one          0
three    32367
two        229
zero         0
dtype: int64

In [18]:
# Drop all rows where column 2 is NaN
dot2 = dot2.loc[dot2['two'].notnull()]

In [19]:
dot2.shape

(44850, 4)

In [20]:
# Check the shapes of the two dataframes to concatenate
print(dot1.shape)
print(dot2.shape)

(35678, 4)
(44850, 4)

In [21]:
# Rename dot1 columns 
dot1.rename(columns={'0': 'zero', '1': 'one', '2': 'two', '3': 'three'}, inplace=True)
dot1.head()

,zero,one,two,three
45079,2020-02-07 22:17:07+00:00,houstontranstar,http://traffic.houstontranstar.org/layers/,NaN
45080,2020-02-07 17:48:31+00:00,houstontranstar,REMINDER: All mainlanes of I-610 West Loop (NB...,NaN
45081,2020-02-07 15:53:52+00:00,houstontranstar,http://traffic.houstontranstar.org/layers/,NaN
45082,2020-02-07 15:38:03+00:00,houstontranstar,http://traffic.houstontranstar.org/layers/,NaN
45083,2020-02-06 16:04:45+00:00,houstontranstar,More information related to this closure can b...,#HoustonTranStar

In [22]:
# Concatenate
dot_train = pd.concat([dot1, dot2], axis=0, ignore_index=True, sort=True)
dot_train.head()

,one,three,two,zero
0,houstontranstar,NaN,http://traffic.houstontranstar.org/layers/,2020-02-07 22:17:07+00:00
1,houstontranstar,NaN,REMINDER: All mainlanes of I-610 West Loop (NB...,2020-02-07 17:48:31+00:00
2,houstontranstar,NaN,http://traffic.houstontranstar.org/layers/,2020-02-07 15:53:52+00:00
3,houstontranstar,NaN,http://traffic.houstontranstar.org/layers/,2020-02-07 15:38:03+00:00
4,houstontranstar,#HoustonTranStar,More information related to this closure can b...,2020-02-06 16:04:45+00:00

In [23]:
# Reorder columns
dot_train = dot_train[['zero', 'one', 'two', 'three']]
dot_train.head()

,zero,one,two,three
0,2020-02-07 22:17:07+00:00,houstontranstar,http://traffic.houstontranstar.org/layers/,NaN
1,2020-02-07 17:48:31+00:00,houstontranstar,REMINDER: All mainlanes of I-610 West Loop (NB...,NaN
2,2020-02-07 15:53:52+00:00,houstontranstar,http://traffic.houstontranstar.org/layers/,NaN
3,2020-02-07 15:38:03+00:00,houstontranstar,http://traffic.houstontranstar.org/layers/,NaN
4,2020-02-06 16:04:45+00:00,houstontranstar,More information related to this closure can b...,#HoustonTranStar

In [24]:
pd_train.columns

Index(['0', '1', '2', '3'], dtype='object')

In [25]:
# Rename columns to match pd_train
dot_train.rename(columns={'zero': '0', 'one': '1', 'two': '2', 'three': '3'}, inplace=True)
dot_train.head()

,0,1,2,3
0,2020-02-07 22:17:07+00:00,houstontranstar,http://traffic.houstontranstar.org/layers/,NaN
1,2020-02-07 17:48:31+00:00,houstontranstar,REMINDER: All mainlanes of I-610 West Loop (NB...,NaN
2,2020-02-07 15:53:52+00:00,houstontranstar,http://traffic.houstontranstar.org/layers/,NaN
3,2020-02-07 15:38:03+00:00,houstontranstar,http://traffic.houstontranstar.org/layers/,NaN
4,2020-02-06 16:04:45+00:00,houstontranstar,More information related to this closure can b...,#HoustonTranStar

### Concatenate DataFrames

In [26]:
# Concatenate dataframes
train_data = pd.concat([pd_train, dot_train], axis=0, ignore_index=True, sort=True)
train_data.head()

,0,1,2,3
0,2016-10-30 20:51:45+00:00,DentonPolice,Investigating mismatch of name / photo. Until ...,NaN
1,2016-10-30 16:59:03+00:00,DentonPolice,"10/30/2016 08:44:23 Regina, 39 yrs old Bond: $...",NaN
2,2016-10-30 13:52:19+00:00,DentonPolice,"10/29/2016 17:03:18 Steven, 26 yrs old Bond: $...",NaN
3,2016-10-26 21:45:57+00:00,DentonPolice,"10/25/2016 22:59:57 Monique, 39 yrs old Bond: ...",NaN
4,2016-10-26 21:09:45+00:00,DentonPolice,"10/25/2016 21:37:00 Katelyn, 24 yrs old Bond: ...",NaN

## Export Data: Train

In [27]:
train_data.to_csv('./data/train_data/combined_train_data.csv')