# Project 5: Optimizing Evacuation Routes using Real-Time Traffic Information

Song May, Michael Daugherty, Kelly Slatery | US-DSI-10 | 02.21.2020

In [1]:
# Imports
import pandas as pd

# Import Data

In [2]:
# Import file with locations and coordinates
ll = pd.read_csv('./data/locations_w_LL.csv')
ll.shape

(43, 3)

In [3]:
ll.head()

,Unnamed: 0,location,latlng
0,0,"I-10 East at Airway, Texas","(31.77851238297871, -106.39274056382978)"
1,1,"I-10 East at Mesa, Texas","(31.76263800000001, -106.49052)"
2,2,"I-10 East at Asarco, Texas","(31.152728536211036, -97.45027245045877)"
3,3,"I-10 West at Lomaland, Texas","(31.744404000000007, -106.33187249999999)"
4,4,"I-10 East at Sunland, Texas","(31.816627713233906, -106.55121538620033)"

In [4]:
# Drop unnecessary column
ll.drop(columns='Unnamed: 0', inplace=True)
ll.head()

                       location                                     latlng
0    I-10 East at Airway, Texas   (31.77851238297871, -106.39274056382978)
1      I-10 East at Mesa, Texas            (31.76263800000001, -106.49052)
2    I-10 East at Asarco, Texas   (31.152728536211036, -97.45027245045877)
3  I-10 West at Lomaland, Texas  (31.744404000000007, -106.33187249999999)
4   I-10 East at Sunland, Texas  (31.816627713233906, -106.55121538620033)

In [5]:
# Split up latitude and longitude
lats = []
lngs = []

for coords in ll['latlng']:
    coords = coords.strip().replace('(', '').replace(')', '')
    lat, lng = coords.split()
    lats.append(float(lat.strip(',')))
    lngs.append(float(lng))

# Verify that lists line up with dataframe values
print(lats[:5])
print(lngs[:5])

[31.77851238297871, 31.76263800000001, 31.152728536211036, 31.744404000000007, 31.816627713233906]
[-106.39274056382978, -106.49052, -97.45027245045877, -106.33187249999999, -106.55121538620033]

In [6]:
# Create new columns for lats and longs
ll['lat'] = lats
ll['lng'] = lngs

# Verify that columns were created
ll.head()

,location,latlng,lat,lng
0,"I-10 East at Airway, Texas","(31.77851238297871, -106.39274056382978)",31.778512,-106.392741
1,"I-10 East at Mesa, Texas","(31.76263800000001, -106.49052)",31.762638,-106.490520
2,"I-10 East at Asarco, Texas","(31.152728536211036, -97.45027245045877)",31.152729,-97.450272
3,"I-10 West at Lomaland, Texas","(31.744404000000007, -106.33187249999999)",31.744404,-106.331872
4,"I-10 East at Sunland, Texas","(31.816627713233906, -106.55121538620033)",31.816628,-106.551215

In [7]:
# Drop all non-lat/lng columns
ll.drop(columns=['location', 'latlng'], inplace=True)
print(ll.shape)
ll.head()

(43, 2)

         lat         lng
0  31.778512 -106.392741
1  31.762638 -106.490520
2  31.152729  -97.450272
3  31.744404 -106.331872
4  31.816628 -106.551215

In [8]:
# Check data types (float)
ll.dtypes

lat    float64
lng    float64
dtype: object

## Export Latitudes / Longitudes

In [9]:
ll.to_csv('./data/lat_lng.csv', index=False)