# Project 5: Optimizing Evacuation Routes using Real-Time Traffic Information

Song May, Michael Daugherty, Kelly Slatery | US-DSI-10 | 02.21.2020

## Problem Statement

## Executive Summary

## Data Dictionary

## Contents

# Data Collection

In [28]:
# Imports
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import GetOldTweets3 as got
import time
import requests

In [12]:
# Credits (using GetOldTweets3 package): Martin Beck, 01.12.2020
# https://towardsdatascience.com/how-to-scrape-tweets-from-twitter-59287e20f0f1

# Set up variables for first Twitter pull
username = 'TxDOT'
since_date = '2016-01-01'
until_date = '2020-02-10'
max_tweets = 18000

# Create first query object
tweetCriteria = got.manager.TweetCriteria().setUsername(username).setSince(since_date).setUntil(until_date).setMaxTweets(max_tweets)

# Greate first list of all tweets
tweets = got.manager.TweetManager.getTweets(tweetCriteria)

# Create filtered list of tweet data
user_tweets = [[tweet.date, tweet.username, tweet.text, tweet.hashtags] for tweet in tweets]

# Transform list into the base tweet collection dataframe
all_tweets = pd.DataFrame(user_tweets)

In [13]:
# Look at first 5 tweets from 'TxDOT'
pd.DataFrame(user_tweets).head()

                          0                                                  1
0 2020-02-07 22:20:09+00:00  When you drink and drive in Texas, our officer...
1 2020-02-07 18:05:12+00:00  Want to help traffic instead of sitting in it?...
2 2020-02-07 01:10:04+00:00  Are you skilled in automotive work? We'd love ...
3 2020-02-07 00:15:25+00:00  From a shout to a whisper, we can’t emphasize ...
4 2020-02-06 22:14:22+00:00  We love seeing all the nice things y’all have ...

In [14]:
# Look at last 5 tweets from 'TxDOT'
pd.DataFrame(user_tweets).tail()

,0,1
4080,2016-01-04 00:08:24+00:00,I-35 Alert: 10 vehicle crash closed down all m...
4081,2016-01-01 16:20:21+00:00,Make a #resolution to start 2016 right. #PlanW...
4082,2016-01-01 13:30:35+00:00,"TxDOT offices will be closed today, Jan. 1 in ..."
4083,2016-01-01 05:55:08+00:00,#HappyNewYear from #TxDOT! We hope everyone ha...
4084,2016-01-01 00:10:13+00:00,Don't start the #NewYear w/ a DWI. #PlanWhileY...

In [40]:
# Define list of Twitter usernames to scrape, exclusing first Twitter user ('TxDOT')
# From: https://www.txdot.gov/driver/weather/txdot-twitter-feeds.html
twitter_users = ['TxDOTAbilene', 'TxDOTAmarillo', 'TxDOTAtlanta', 'TxDOTAustin', 
                 'TxDOTBeaumont', 'TxDOTBWD', 'TxDOTBryan', 'TxDOTChildress', 'TxDOT_CRP', 
                 'TxDOTDallas', 'TxDOTELP', 'TxDOTFortWorth', 'GalvestonFerry', 'TxDOTHouston', 
                 'HoustonTranstar', 'I35Travel', 'TxDOTLaredo', 'TxDOTLubbock', 'TxDOTLufkin', 
                 'TxDOTOdessa', 'TxDOTParis', 'TxDOTPharr', 'PortA_Ferry', 'TxDOTSanAngelo', 
                 'TxDOTSanAntonio', 'TexasHighways', 'TxDOTTyler', 'TxDOTWacoPIO', 'TXDOTWF', 
                 'TxDOTYoakum', 'ImproveMopac', 'ManorExpressway', 'DFWConnector', 'DriveMidtown', 
                 'Drive360South', 'LBJexpress', 'NTExpress', 'my290Houston']

In [41]:
len(twitter_users)

38

In [54]:
# Define a function to pull remaining users' tweets from the same time period
def update_tweets(base_df, user):
    
    # Set up variables for first Twitter pull
    username = user
    since_date = '2016-01-01'
    until_date = '2020-02-10'
    max_tweets = 18000

    # Create first query object
    tweetCriteria = got.manager.TweetCriteria().setUsername(username).setSince(since_date).setUntil(until_date).setMaxTweets(max_tweets)

    # Greate first list of all tweets
    tweets = got.manager.TweetManager.getTweets(tweetCriteria)

    # Create filtered list of tweet data
    user_tweets = [[tweet.date, tweet.username, tweet.text, tweet.hashtags] for tweet in tweets]

    # Transform list into the base tweet collection dataframe
    tweets_df = pd.DataFrame(user_tweets)
    
    # Concatenate new tweets with old tweets
    updated = pd.concat([base_df, tweets_df], axis=0, ignore_index=True, sort=True)
    
    # Export the new dataframe individually
    tweets_df.to_csvv(f'./data/data_by_user/{user}_tweets', index=False)
    
    # Print progress update
    print(f'Done scraping. We added {len(user_tweets)} new tweets. Current df shape: {df.shape}')
    print()
    
    # Return updated dataframe of all tweets
    return updated

In [ ]:
# Get tweets from above 38 twitters users and add to the all_tweets dataframe

# Set up count
i = 0

# Loop through all twitter users to scrape and add to the all_tweets dataframe, according to Twitter API limits
for user in twitter_users:

    # Count twitters as they are scraped and get the initial time
    i += 1
    t0 = time.time()
    
    # Print progress update
    print(f'Twitter #{i} now scraping...')
    
    # Get the tweets and update the dataframe
    all_tweets = update_tweets(all_tweets, user)
    
    # Wait the the remainder of 15 minutes
    time.sleep((15*60) - (time.time() - t0))

In [53]:
# Look at first 5 tweets
all_tweets.head()

NameError: name 'all_tweets' is not defined

In [ ]:
# Look at last 5 tweets
all_tweets.tail()

# Export data

In [ ]:
all_tweets.to_csv('./data/DOT_tweets.csv', index=False)